@page
@model TutorialsModel
@{
    ViewData["Title"] = "Authorization successfully";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Programming Tutorials, Video Tutorials.</p>

<a href="http://infocodify.com" target="_blank">Visit Infocodify</a>
